*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.5em) {
    html {
      font-size: 46.5%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 43%; } }

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: Arial,sans-serif;
  line-height: 1.7;
  color: #676767;
  box-sizing: border-box; }

.hidden {
  display: none; }

.btn {
  padding: 1rem; }

.eng {
  display: none; }

.eng.activeLang {
  display: block; }

.hide {
  opacity: 0;
  scale: .8;
  filter: blur(5px);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1); }

.showing {
  opacity: 1;
  scale: 1;
  filter: blur(0); }

.header-project {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(135deg, #dbc3b1 0%, #dbc3b1 30%, #dbc3b1 30%, rgba(255, 255, 255, 0.3) 100%), url(../img/5001147_19742.svg);
  color: #00143d;
  background-repeat: no-repeat;
  background-size: cover; }

.heading-big {
  font-size: 6rem;
  line-height: 1;
  text-align: left; }
  @media only screen and (max-width: 25.5em) {
    .heading-big {
      font-size: 5rem; } }

.heading-small {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.5px;
  opacity: 0;
  transform: translateX(-100%);
  animation: slide 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  animation-delay: .5s; }

@keyframes slide {
  70% {
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.heading-title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center; }

.heading-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .heading-container-window {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .heading-container-window {
        width: 80%; } }
    @media only screen and (max-width: 25.5em) {
      .heading-container-window {
        width: 90%; } }
    .heading-container-window__small {
      font-size: 1.7rem;
      letter-spacing: 1.5px;
      width: 58%;
      text-align: center;
      transition-delay: .3s; }
      @media only screen and (max-width: 37.5em) {
        .heading-container-window__small {
          width: 65%; } }
      @media only screen and (max-width: 25.5em) {
        .heading-container-window__small {
          width: 80%; } }
    .heading-container-window__medium {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center; }
      @media only screen and (max-width: 25.5em) {
        .heading-container-window__medium {
          font-size: 3rem; } }
      .heading-container-window__medium__dark {
        font-size: 4rem;
        color: #00143d; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.contact {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  .contact__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .contact__form-left {
      display: flex;
      flex-direction: column; }

.nav {
  width: 100%;
  height: 10%;
  background-image: linear-gradient(135deg, rgba(0, 20, 61, 0.85) 0%, rgba(46, 0, 107, 0.85) 100%);
  position: fixed;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .2s ease-in-out;
  z-index: 20;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 25.5em) {
    .nav {
      padding: 2rem; } }
  @media only screen and (max-width: 20em) {
    .nav {
      padding: 1rem; } }
  .nav__logo-box {
    width: 11%;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s ease-in-out; }
    @media only screen and (max-width: 25.5em) {
      .nav__logo-box {
        width: 40%;
        justify-content: left; } }
  .nav__logo {
    width: 6rem; }
    @media only screen and (max-width: 25.5em) {
      .nav__logo {
        width: 4rem; } }
  .nav__topbar {
    width: 40%;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 56.5em) {
      .nav__topbar {
        width: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .nav__topbar {
        width: 65%; } }
    @media only screen and (max-width: 25.5em) {
      .nav__topbar {
        width: 40%; } }
    .nav__topbar--list {
      width: 80%;
      display: flex;
      justify-content: space-between;
      padding: 0 4rem;
      list-style: none; }
      @media only screen and (max-width: 25.5em) {
        .nav__topbar--list {
          display: none; } }
    .nav__topbar--list a {
      text-decoration: none;
      color: inherit;
      transition: all .3s ease-in-out; }
    .nav__topbar--list li a:active {
      color: #ab8566; }
    .nav__topbar--list li {
      position: relative; }
    .nav__topbar--list li::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: .3rem;
      width: 3px;
      background-color: #ab8566;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .nav__topbar--list li:hover::before,
    .nav__topbar--list li:active::before {
      transform: scaleY(1);
      width: 100%; }
    .nav__topbar--list li:active::before {
      background-color: #ab8566; }

.nav.active {
  background-image: linear-gradient(135deg, #dbc3b1 0%, white 100%);
  color: #00143d;
  transition: all .2s ease-in-out; }

#language-select {
  margin-left: 2rem;
  border-radius: .6rem; }
  @media only screen and (max-width: 25.5em) {
    #language-select {
      margin-left: 1rem; } }

.composition {
  margin-top: -20%;
  position: relative;
  z-index: 10;
  width: 50%; }
  .composition__photo {
    width: 55%;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    outline-offset: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .composition__photo {
        width: 70%; } }
    @media only screen and (max-width: 25.5em) {
      .composition__photo {
        width: 100%; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p1 {
          left: -3rem;
          top: 28rem; } }
      @media only screen and (max-width: 25.5em) {
        .composition__photo--p1 {
          top: 22rem;
          left: -10rem; } }
    .composition__photo--p2 {
      right: 0;
      top: 2rem;
      transition-delay: .25s; }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p2 {
          right: -6rem;
          top: 32rem; } }
      @media only screen and (max-width: 25.5em) {
        .composition__photo--p2 {
          top: 26rem;
          right: -10rem; } }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem;
      transition-delay: .5s; }
      @media only screen and (max-width: 37.5em) {
        .composition__photo--p3 {
          top: 40rem; } }
      @media only screen and (max-width: 25.5em) {
        .composition__photo--p3 {
          left: 0%;
          top: 34rem; } }
    .composition__photo:hover {
      animation: onHover .5s ease-in-out forwards;
      box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
      z-index: 20; }

@keyframes onHover {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.05); } }

.about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, rgba(204, 179, 158, 0.5) 0%, rgba(204, 179, 158, 0.5) 5%, #faeded 85%, #dbc3b1 85%, #dbc3b1 100%), url(../img/5001147_19742.svg); }
  @media only screen and (max-width: 37.5em) {
    .about {
      height: 70vh; } }

.about .heading-big {
  color: #00143d; }

.about2 {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #f8f8f8 0%, #faeded 50%, rgba(204, 179, 158, 0.5) 90%, rgba(204, 179, 158, 0.2) 100%), url(../img/5001147_19742.svg);
  background-size: cover; }
  @media only screen and (max-width: 37.5em) {
    .about2 {
      flex-direction: column;
      height: 80vh;
      justify-content: flex-start;
      padding-top: 10rem; } }
  .about2__text {
    width: 35%;
    margin-right: 4rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .about2__text {
        width: 75%;
        text-align: center; } }

.header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(135deg, #00143d 0%, #00143d 30%, #00143d 30%, rgba(46, 0, 107, 0.8) 100%), url(../img/5001147_19742.svg);
  color: azure;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 80vh; } }
  @media only screen and (max-width: 25.5em) {
    .header {
      height: 75vh; } }
  .header__heading {
    width: 60%;
    padding: 15rem;
    z-index: 10; }
    @media only screen and (max-width: 37.5em) {
      .header__heading {
        width: 90%; } }
    @media only screen and (max-width: 25.5em) {
      .header__heading {
        width: 100%;
        padding: 15rem 5rem; } }

.footer {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(135deg, #00143d 0%, #00143d 30%, #00143d 30%, rgba(46, 0, 107, 0.8) 100%), url(../img/5001147_19742.svg);
  color: azure;
  background-repeat: no-repeat;
  background-size: cover; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      height: 110vh; } }
  .footer__logo {
    width: 20%; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        width: 70%; } }
  .footer__info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; }
  .footer__info i {
    font-size: 2rem;
    padding: 2rem 1rem 1rem 0; }

.google-map {
  width: 100vw;
  height: 45rem;
  position: relative; }

.google-map::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00143d; }

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute; }

.cards-section {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  scroll-behavior: smooth; }
  .cards-section__title {
    width: 100%; }

.form {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, rgba(171, 133, 102, 0.7) 0%, rgba(171, 133, 102, 0.3) 60%, #ab8566 60%, #ab8566 100%), url(../img/5001147_19742.svg);
  color: #00143d;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
  animation-delay: 1s; }
  @media only screen and (max-width: 37.5em) {
    .form {
      width: 60vw;
      height: 55vh; } }
  @media only screen and (max-width: 25.5em) {
    .form {
      width: 70vw; } }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input, .form__textarea {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rbga(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 75%;
    display: block;
    transition: all .3s; }
    .form__input:focus, .form__textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem 6px 6px 9px rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid #00143d; }
    .form__input:focus:invalid, .form__textarea:focus:invalid {
      border-bottom: 3px solid #00143d; }
    .form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
      color: gray; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__btn {
    width: 75%;
    padding: 1rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    background-image: linear-gradient(#00143d 0%, #052b79 43%, #052b79 48%, #00143d 100%);
    font-size: 1.5rem;
    font-weight: 700;
    color: #dbc3b1;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-in-out; }
    .form__btn:focus {
      outline: none; }
    .form__btn:active {
      transform: translateY(2px); }
    .form__btn:hover {
      transform: translateY(2px);
      background-image: linear-gradient(#052b79 0%, #083fad 43%, #083fad 48%, #052b79 100%); }

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .cards__card {
    width: 25%;
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 20, 61, 0.8) 0%, rgba(0, 20, 61, 0.8) 100%), url(../img/cardpic.jpg);
    border-radius: .5rem;
    background-size: cover;
    margin: 3rem;
    color: #00143d;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .cards__card {
        margin: 3rem .5rem; } }
    .cards__card:hover {
      transform: translateY(-1.5rem) scale(1.03); }
    .cards__card-icon {
      width: 10rem;
      height: 10rem;
      font-size: 8rem; }
    .cards__card-more {
      text-decoration: none;
      color: #ab8566;
      font-size: 1.5rem; }
  .cards__card:nth-child(2) {
    transition-delay: .2s; }
  .cards__card:nth-child(3) {
    transition-delay: .4s; }
  .cards__card:nth-child(4) {
    transition-delay: .6s; }

.btn {
  width: 13rem;
  border-radius: 1rem;
  background-color: #ab8566;
  border: none;
  scale: 1;
  padding: .8rem 1rem;
  cursor: pointer;
  transition: all .2s;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 25.5em) {
    .btn {
      padding: .5rem .8rem; } }
  .btn:focus {
    outline: none; }
  .btn:active {
    transform: translateY(2px); }
  .btn:hover {
    scale: 1.1;
    background-color: rgba(171, 133, 102, 0.8); }
  .btn__lm {
    width: auto;
    padding: 2rem;
    font-size: 1.8rem;
    background: transparent;
    border: 2px solid #ab8566;
    border-radius: 4rem;
    color: #ab8566;
    opacity: 0;
    transform: translateY(5rem);
    animation: slideIn 1s ease-in forwards;
    animation-delay: 2s; }

.btn svg {
  fill: aliceblue; }

.btn a {
  text-decoration: none;
  color: inherit; }

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0); } }

#menuToggle {
  display: none;
  position: relative;
  top: .6rem;
  left: .6rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }
  @media only screen and (max-width: 25.5em) {
    #menuToggle {
      display: block; } }

#menuToggle a {
  text-decoration: none;
  color: #00143d;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: #ab8566; }

#menuToggle input {
  display: block;
  width: 4rem;
  height: 3.2rem;
  position: absolute;
  top: -.7rem;
  left: -.5rem;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 3.3rem;
  height: .4rem;
  margin-bottom: .5rem;
  position: relative;
  background: #ab8566;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 15rem;
  margin: -10rem 0 0 -5rem;
  padding: 5rem;
  padding-top: 12.5rem;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 1rem 0;
  font-size: 2rem; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none; }

#languageSwitcher {
  font-size: .3rem;
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
  padding-left: 3rem; }

.lang-btn__srp,
.lang-btn__eng {
  background-color: transparent;
  border: none;
  padding-right: .5rem;
  color: #ab8566;
  cursor: pointer; }

.lang-btn:hover {
  color: orangered; }

.logo-animation {
  width: 50rem;
  height: 50rem;
  position: absolute;
  top: 5vh;
  right: -5vw;
  z-index: 1; }
  @media only screen and (max-width: 37.5em) {
    .logo-animation {
      display: none; } }

.logo-animation svg {
  position: absolute;
  stroke: aqua;
  filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.8));
  fill-opacity: 0;
  opacity: 0;
  stroke-width: .5rem;
  stroke-dasharray: 4500;
  animation: draw 8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  animation-delay: 3s; }

@keyframes draw {
  from {
    stroke-dashoffset: 4500;
    opacity: 0; }
  to {
    stroke-dashoffset: 0;
    opacity: 1; } }
