.btn{
    width: 13rem;
    border-radius: 1rem;
    background-color: $color-secondary;
    border: none;
    scale: 1;
    padding: .8rem 1rem;
    cursor: pointer;
    transition: all .2s;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    box-shadow: $shadow--natural;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(2px);
    }
    &:hover{
        scale: 1.1;
        background-color: rgba($color-secondary, 0.8);
    }

    &__lm{
     padding: 2rem;
     font-size: 1.5rem;
    }
   }

   .btn svg{
    fill: aliceblue;
   }

.cards{
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__card{
        width: 25%;
        height: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(
        rgba($color-primary, .8) 0%,
        rgba($color-primary, .8) 100%), url(../img/cardpic.jpg);
        border-radius: .5rem;
        background-size: cover;
        margin: 3rem;
        color: $color-primary;
        transition: transform .3s;
       box-shadow: $shadow--natural;

        &:hover {
            transform: translateY(-1.5rem) scale(1.03);
        }

        &-icon{
            width: 10rem;
            height: 10rem;
            font-size: 8rem;
        }

        &-more{
            text-decoration: none;
            color: $color-secondary;
            font-size: 1.5rem;
        }
    }
}

