.heading-big{
    font-size: 6rem;
    line-height: 1;
    text-align: left;
    animation: fade-in-text 2s linear forwards;
    animation-timeline: view();
    animation-range:entry;

    @media only screen and (max-width:25.5em){
        font-size: 5rem;
    }
}

.heading-small{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1.5px;
    animation: fade-in-text  linear forwards;
    animation-timeline: view();
    animation-range:entry;
    
}

.heading-title{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    animation: fade-in-text linear forwards;
    animation-timeline: view();
    animation-range:entry ;
   
   
    
}

.heading-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        animation: fade-in-text linear forwards;
        animation-timeline: view();
        animation-range:entry;

        &-window{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media only screen and (max-width:37.5em){
                width: 80%;
            }

            @media only screen and (max-width:25.5em){
                width: 90%;
            }

            &__small{
                font-size: 1.7rem;
                letter-spacing: 1.5px;
                width: 58%;
                text-align: center;

                @media only screen and (max-width:37.5em){
                    width: 65%;
                }

                @media only screen and (max-width:25.5em){
                    width: 80%;
                }
            }
    
            &__medium{
                font-size: 4rem;
                font-weight: 700;
                line-height: 1;
                text-align: center;

                @media only screen and (max-width:25.5em){
                   font-size: 3rem;
                }
            
                &__dark{
                    font-size: 4rem;
                    color: $color-primary;
                }
            }
        }
}


.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }



@keyframes fade-in-text{
from{ opacity: 0; scale: .8;}
to{opacity: 1; scale: 1;}
} 

