.about{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        background-image: linear-gradient(135deg,
        rgba($color-terc, .2) 0%,
        rgba($color-terc, .2) 5%,
        rgba(rgb(250, 237, 237), 1) 50%,
        rgb(248, 248, 248) 100%),
        url(../img/5001147_19742.svg);
    
    }
    .about .heading-big{
        color: $color-primary ;
    }