.about2{
    height: 90vh;
   display: flex;
   align-items: center;
   justify-content: center;
        background-image: linear-gradient(135deg,
        rgba(rgba(248, 248, 248,.2), 1) 0%,
        rgba(rgb(250, 237, 237), 1) 50%,
        rgba($color-terc, .5) 90%,
        rgba($color-terc,.2) 100%),
        url(../img/5001147_19742.svg);

    background-size: cover;

    &__text{
        width: 35%;
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
    }

   
}

    




    