.about{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        background-image: linear-gradient(135deg,
        rgba($color-terc, .5) 0%,
        rgba($color-terc, .5) 5%,
        rgba(rgb(250, 237, 237), 1) 85%,
        $color-secondary-light 85%,
        $color-secondary-light 100%,
        ),
        url(../img/5001147_19742.svg);


        @media only screen and (max-width:37.5em){
            height: 70vh;
        }
    
    }
    .about .heading-big{
        color: $color-primary ;
        animation: fade-in linear;
        animation-timeline: view(100px);

    }

    @keyframes fade-in {
        from{scale: .8; opacity: 0;}
        to{scale: 1; opacity: 1;}
    }