.composition {
    margin-top: -20%;
    position: relative;
    z-index: 10;
    width: 50%;

     

    &__photo {
        width: 55%;
        box-shadow:$shadow--natural;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        //transition: all .2s;
        outline-offset: 2rem;
      
       
        @media only screen and (max-width:37.5em){
            width: 70%;
        }

        @media only screen and (max-width:25.5em){
            width: 100%;
        }

        &--p1 {
            left: 0;
            top: -2rem;
            

            @media only screen and (max-width:37.5em){
                left: -3rem;
                top: 28rem;
            }

            @media only screen and (max-width:25.5em){
                top: 22rem;
                left: -10rem;;
            }
        }

        &--p2 {
            right: 0;
            top: 2rem;
            transition-delay: .25s;

            @media only screen and (max-width:37.5em){
                right: -6rem;
                top: 32rem;
            }

            @media only screen and (max-width:25.5em){
                top: 26rem;
                right: -10rem;
            }
        }

        &--p3 {
            left: 20%;
            top: 10rem;
            
            transition-delay: .5s;

            @media only screen and (max-width:37.5em){
                top: 40rem;
            }

            @media only screen and (max-width:25.5em){
                left: 0%;
                top: 34rem;
               
            }
        }

        &:hover {
            animation: onHover .5s ease-in-out forwards ;
            box-shadow: $shadow--natural;
            z-index: 20;
        }

    }

   
    //composition:hover composition__photo:not(:hover) {
}

@keyframes onHover {
    from{transform: scale(1) }
    to{transform: scale(1.05) }
}