.btn{
   
    width: 13rem;
    border-radius: 1rem;
    background-color: $color-secondary;
    border: none;
    scale: 1;
    padding: .8rem 1rem;
    cursor: pointer;
    transition: all .2s;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    box-shadow: $shadow--natural;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media only screen and (max-width:25.5em){
        
        padding: .5rem .8rem;
       }

    &:focus {
        outline: none;
    }

    &:active {
        transform: translateY(2px);
    }
    &:hover{
        scale: 1.1;
        background-color: rgba($color-secondary, 0.8);
    }

    &__lm{
        width: auto;
     padding: 2rem;
     font-size: 1.8rem;
     background: transparent;
     border: 2px solid $color-secondary;
     border-radius: 4rem;
     color:$color-secondary;
     opacity:0;
     transform: translateY(5rem);
     animation: slideIn 1s ease-in forwards;
     animation-delay: 2s;
    }
   }

   .btn svg{
    fill: aliceblue;
   }

   .btn a{
    text-decoration: none;
    color: inherit;
   }

   @keyframes slideIn {
    to{opacity: 1; transform: translateY(0);}
   }